{%extends "base.html"%}
{%block content%}
<h1 class="text-center text-white m-2 p-3">Welcome, {{user}}</h1>
<div class="card position-absolute top-50 start-50 translate-middle bg-light">
<div class="card-body text-center align-items-start">
    <form enctype="multipart/form-data" action = "{%url 'krenger:home'%}" method="post">
        {%csrf_token%}
        <div class="mb-3">
            {{form.as_p}}
            <button type="button" id="record"class="btn mb-3">Record</button>
            <button type="submit" class="btn mb-3" required>Enter</button>
        </div>
        
    </form>
</div>
<div class="card-body text-center align-items-start b-2">
    <h4 class="text-center m2 p-3">Your Recording:</h4>
    <audio id="download"></audio>
</div>
</div>
<script>
    const recordButton = document.getElementById("record");
    const audInp = document.getElementById("id_audio");
    const down = document.getElementById("download");
    navigator.mediaDevices
        .getUserMedia({audio:true})
        .then(stream => {
            const mediaRecorder = new MediaRecorder(stream,{type:'audio/webm'});
            let audioChunks = [];

            //button label used as whether recording or not
            recordButton.onclick = () => {
                if (recordButton.innerText === "Stop") {
                    mediaRecorder.stop();
                    console.log("recording stopped");
                    recordButton.innerText = "Record";
                } else {
                    mediaRecorder.start();
                    console.log("recording started");
                    recordButton.innerText = "Stop";
                }
            };
            mediaRecorder.ondataavailable = (event) => {
                audioChunks.push(event.data);
                
                console.log("a");

            };

            mediaRecorder.onstop = () => {
                const link = URL.createObjectURL(audioChunks[0]);
                const go = document.createElement('a');
                go.setAttribute('download','recording.webm');
                go.src=link;
                document.body.appendChild(go);
                go.click();
                go.remove();
                down.setAttribute('src',link);
                down.setAttribute('controls',"true");
                down.setAttribute('autoplay',true);
                console.log("recorder stop");
                audioChunks = [];
            };

        })
        .catch((err) => {
                console.err(`audio error: ${err}`);
        });


    //TODO: add mic function that records and saves as file
    //TODO: add button to form that calls mic function
</script>
{%endblock content%}